.attribution {
    
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

.attribution a {
    color: hsl(148, 68%, 56%);
}

body{
    text-align: center;
    margin: 0px;
}


.upper{
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: #FFD39A;
    
    
}

p{
    margin: 0 auto 0 auto;
    width: 50%;
}
.product{
    height: 300px;
    width: 170px;
    float: left;
}

.content{
    border-radius: 50px;
    background-color: bisque;
    width: 50%;
    margin: 0px auto 0px auto;
    padding-bottom: 30px;
}

h2{
    display: inline-block;
}
h3{
    margin-left: 30px;
}

.less_price{
    text-decoration: line-through;
    display: inline-block;
    margin-left: 30px;
}


.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }